.container3{
    width: 100%;
    margin-bottom: 0.625rem;
    padding-top: 6.25rem;
    background-color: var( --color-white-fixed);
    height: 100%;
    border-radius: 0 0 0.5rem 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.containerMain{
    padding: 1.875rem 1.25rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    position: relative;
}
.divPosts{
    width: 650px;
}
.user{
    width: 650px;
}
.cardUser{
    max-width: 100%;
    height: 3.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.cardUser figure{
    height: 3.25rem;
}
.cardUser img{
    height: 100%;
    width: 100%;
}
.form{
    margin-top: 1.875rem;
    height: 221px;
    align-items: flex-end;
}
.inputUser{
    border: solid var(--color-grey-3) 2px;
    padding: 1rem 1.25rem;
    font-weight: bolder;
    word-spacing: 2px;
    width: 100%;
    font-family: var(--font-family-1);
}
.inputUser2{
    border: solid var(--color-grey-3) 2px;
    padding: 1rem 1.25rem;
    font-weight: bolder;
    word-spacing: 0.125rem;
    height: 6.25rem;
    width: 100%;
    font-family: var(--font-family-1);
}
.butMain{
    width: 4.313rem;
    height: 2.375rem;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white-fixed);
}
.cardUser2{
    margin-top: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
}
.butPost{
    background-color: var(--color-grey-1);
    color: var(--color-white-fixed);
    width: 92px;
    height: 38px;
    padding: 0px 12px;
}

.modalTotal{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
.modalDesaparecer{
    display: none;
}

.modal2{
    display: flex;
    width: 47.563rem;
    height: 34rem;
    background-color: white;
    padding: 2.5rem 1.5rem;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0.25rem;
    position: absolute;
    right: 550px;
    top: 50px;
}
.modal2 p{
    line-height: 1.563rem;
}
.modal2 button{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    position: absolute;
    right: 1.5rem;
    
}
.h1{
    font-size: 2rem;
}
.p{
    font-size: 1rem;
}
.h4{
    font-size: 1rem;
}
.p2{
    font-size: 1rem;
}
.imgCoracao img{
    width: 25px;
    margin-right: 10px;
}

@media(max-width: 425px){
    .modalTotal{
        width: 100%;
        max-width: 26.563rem;
        position: absolute;
        height: 100%;
    }
    .modal2{
        width: 25rem;
        left: 0.875em;
    }
    
    body{
       width: 26.563rem;
        
    }
    .container{
        width: 26.563rem;
        position: relative;
    }
    .container2{
        
    }
    .containerMain{
        width: 100%;
        max-width: 26.563rem;
        padding-top: 0;
    }
    .navbar{
        padding: 1rem 1rem;
        width: 100%;
        max-width: 26.563rem;
        
    }
    .container3{
        flex-direction: column;
        width: 100%;
        max-width: 26.563rem;
    }
    .inputUser{
        width: 24.188rem;
    }
    .inputUser2{
        width: 24.188rem;
    }
    .h1{
        font-size: 1.5rem;
    }
    aside{
        position: static;
    }
    .ulAside{
        display: flex;
        
    }
    .li{
        height: 6.25rem;
        margin-left: 1rem;
        
    }
    .but{
        position: absolute;
        bottom: 0;
        width: 50%;
    }
    .butPost{
        border: none;
        padding: 0.313rem 0.625rem ;
    }

}